<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProxyPriceFetch.Properties.Settings.trgovinaConnectionString"
            connectionString="Data Source=DESKTOP-4MQQNQC;Initial Catalog=trgovina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProxyPriceFetch.Properties.Settings.oom_proxyConnectionString"
            connectionString="Data Source=DESKTOP-4MQQNQC;Initial Catalog=oom_proxy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>